<div class="container" fxLayout="column" fxLayoutAlign="start top" fxLayoutGap="16px">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px">
    <h1 fxFlex="70%" class="mat-h1">Novo cliente</h1>
    <div fxFlex="30%" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
      <button mat-button color="warn" routerLink="/clients">CANCELAR</button>
      <button mat-flat-button color="primary" (click)="create()" [disabled]="!form.valid">SALVAR</button>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="16px" fxLayoutAlign="flex-start">
    <form fxFlex [formGroup]="form">
      <mat-card>
        <mat-card-content>
          <div fxFlexAlign="start" gdGap="16px">
            <div fxFlex="50%">
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="name">
                <mat-error *ngIf="form.controls['document'].hasError('required')">
                  Nome é <strong>obrigatório</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>CPF</mat-label>
                <input matInput formControlName="document" mask="000.000.000-00">
                <mat-error *ngIf="form.controls['document'].hasError('required')">
                  CPF é <strong>obrigatório</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
                <mat-error *ngIf="form.controls['email'].hasError('required')">
                  Email é <strong>obrigatório</strong>
                </mat-error>
                <mat-error *ngIf="form.controls['email'].hasError('email')">
                  Email é <strong>invalid</strong>
                </mat-error>
              </mat-form-field>    
              <mat-form-field  class="full-width" appearance="fill">
                <mat-label>Data de nascimento</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="birth">
                <mat-error *ngIf="form.controls['birth'].hasError('required')">
                  Data de nascimento é <strong>obrigatório</strong>
                </mat-error>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div fxFlex="50%">
              <mat-form-field class="full-width" appearance="fill">
                <mat-label>CEP</mat-label>
                <input matInput formControlName="postCode" mask="00000-000">
                <mat-error *ngIf="form.controls['postCode'].hasError('required')">
                  CEP é <strong>obrigatório</strong>
                </mat-error>
              </mat-form-field>
              <div fxFlexAlign="start" gdGap="16px">
                <mat-form-field fxFlex="80%" class="full-width" appearance="fill">
                  <mat-label>Endereço</mat-label>
                  <input matInput formControlName="street">
                  <mat-error *ngIf="form.controls['street'].hasError('required')">
                    Endereço é <strong>obrigatório</strong>
                  </mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="20%" class="full-width" appearance="fill">
                  <mat-label>Número</mat-label>
                  <input matInput formControlName="number">
                  <mat-error *ngIf="form.controls['number'].hasError('required')">
                    Número é <strong>obrigatório</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxFlexAlign="start" gdGap="16px">
                <mat-form-field fxFlex="50%" class="full-width" appearance="fill">
                  <mat-label>Complemento</mat-label>
                  <input matInput formControlName="complement">
                  <mat-error *ngIf="form.controls['complement'].hasError('required')">
                    Complemento é <strong>obrigatório</strong>
                  </mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="50%" class="full-width" appearance="fill">
                  <mat-label>Bairro</mat-label>
                  <input matInput formControlName="neighborhood">
                  <mat-error *ngIf="form.controls['neighborhood'].hasError('required')">
                    Bairro é <strong>obrigatório</strong>
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxFlexAlign="start" gdGap="16px">
                <mat-form-field fxFlex="50%" class="full-width" appearance="fill">
                  <mat-label>Cidade</mat-label>
                  <input matInput formControlName="city">
                  <mat-error *ngIf="form.controls['city'].hasError('required')">
                    Cidade é <strong>obrigatório</strong>
                  </mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="50%" class="full-width" appearance="fill">
                  <mat-label>Estado</mat-label>
                  <input matInput formControlName="state">
                  <mat-error *ngIf="form.controls['state'].hasError('required')">
                    Estado é <strong>obrigatório</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
</div>